/* FONTS */
.audiowide,
h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manrope-l {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.manrope-m,
h2,
h3,
h4,
h5,
h6,
nav,
footer,
button,
input {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.manrope-b {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.manrope-xb {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.font-smallest {
  font-size: 8px;
}

.font-smaller {
  font-size: 10px;
}

.font-small {
  font-size: 12px;
}

/* GENERAL */
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

button,
select,
label,
input {
  cursor: pointer;
}

button {
  border: 0px;
}

/* CARDS */
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BACKGROUNDS */
#welcome-banner {
  background-image: url("./assets/welcome_banner.webp");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.bg-purple {
  background-color: #5B64A0;
}

.bg-red {
  background-color: #FF1400;
}

.bg-darkred {
  background-color: #D71200;
}

.bg-lightred {
  background-color: #ffcec9;
}

.bg-darkblue {
  background-color: #000632;
}

.bg-darkblue-transparent {
  background-color: #000632e0;
}

.bg-lightgray {
  background-color: #F5F7F9;
}

.bg-midgray {
  background-color: #C9CACC;
}

.bg-darkgray {
  background-color: #999999;
}

.bg-darkergray {
  background-color: #333333;
}

/* SHADOWS */
.shadow-shrp-drkprp {
  box-shadow: 0px 0px 20px 5px rgba(123, 17, 205, 0.522);
}

.txt-shadow-drkprp {
  text-shadow: 0px 7px 7px rgb(41, 2, 71);
}

/* TEXT */
.text-red,
.nav-link.active {
  color: #FF1400;
}

.text-black {
  color: #333333;
}

.text-purple {
  color: #5B64A0;
}

.text-white {
  color: #F5F7F9;
}

/* LINKS/BUTTONS/HOVER */
.no-underline {
  text-decoration: none;
}

.red-hover:hover {
  background-color: #FF1400;
}

.darkred-hover:hover {
  background-color: #D71200;
}

.darkpurple-hover:hover {
  background-color: #4A5283;
}

.log-offon-btns.ms-auto {
  width: 65px;
  padding: 0;
  align-self: center;
}

@media(max-width: 450px) {
  #clear-filters-btn {
    width: 100% !important;
  }
}

/* LISTS */
.profile-list li {
  padding: 5px;
}

.li-deco-inside {
  list-style-position: inside;
}

.li-deco-inside li {
  margin-bottom: 5px;
}

/* WIDTHS */
.max-width-500 {
  max-width: 500px;
}

#verify-box {
  width: 50%;
}

/* IMAGES */
#prof-image {
  width: 150px;

}

/* TABLES */
.rounded-table {
  border-radius: 5px;
  overflow: hidden;
  border: hidden;
}

/* MEDIA QUERIES */
@media (max-width: 450px) {
  .log-offon-btns.ms-auto {
    margin-left: 0 !important;
    width: 65px;
    padding: 0;
    align-self: center;
  }

  #verify-box {
    width: 100%;
  }

}

@media (min-width: 768px) {
  .sidenav {
    min-height: 100vh;
  }
}