/* FONTS */
.audiowide,
h1  {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manrope-l {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.manrope-m {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.manrope-b {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.manrope-xb {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

button,
select,
label,
input {
  cursor: pointer;
}

/* APP */

h1 {
    color: red;
}